@tailwind base;
@tailwind components;
@tailwind utilities;


.aws-btn {

    --slider-height-percentage: 47%;
    --slider-transition-duration: 531ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #ffffff;
    --control-button-width: 10%;
    --control-button-height: 20%;
    --control-button-background: transparent;
    --control-bullet-color: #2f3dfe;
    --control-bullet-active-color: #ffffff;
    --loader-bar-color: #1e00ff;
    --loader-bar-height: 6px;
}